# Задание 3
### Часть 1. Magic functions

#### CounterGetter (0.1 балл)
Реализуйте класс CounterGetter, который на вход принимает произвольное количество именованых аргументов и считает количество обращений к полям и методам класса во всех экземплярах.

In [1]:
from collections import Counter
class CounterGetter(object):
    counter = Counter()
    def __init__(self, **kwargs):
        for key in kwargs.keys():
            self.__dict__[key] = kwargs[key]
    def __getattribute__(self, name):
        counter[name] += 1
        return object.__getattribute__(self, name)

#### Vector (0.4 балла)

Реализуйте класс вектор, который должен обладать следующими свойствами:
* Над экземплярами выполняются арифметические операции (+-\*/). Операции могут выполняться как с числами, так и с векторами. Если второй операнд вектор, то верните их скалярное произведение, если число, выполните поэлементное действие.
* Реализуйте доступ к элементам вектора по индексам:

<code>vec = Vector(1, 2, 3)

vec[0]</code>
* Реализуйте умножение вектора на матрицу (Матрица задается двумерным списком).
* Поддерживайте методы push_back, pop_back, insert.
* Реализуйте поддержку функции len

P. S. Запрещается использовать numpy и другие библиотеки по работе с векторами. Рекомендуется представлять элементы вектора как список.

In [2]:
import math

class Vector(object):
    
    def __init__(self, *args):
        if len(args) == 0:
            self.components = [0]
        else:
            self.components = args
    
    def __add__(self, other):
        if (type(self) == type(other)):
            result = list(a + b for a,b in zip(self, other))
        else:
            result = []
            for i in range(self.components):
                result.append(self.components[i] + other)
        return Vector(*result)
                
        
    def __sub__(self, other):
        if (type(self) == type(other)):
            result = list(a - b for a,b in zip(self, other))
        else:
            result = []
            for i in range(self.components):
                result.append(self.components[i] - other)
        return Vector(*result)
    
    def __mul__(self, other):
        if (type(self) == type(other)):
            return sum(a * b for a,b in zip(self, other))
        else:
            result = list(item * other for item in self)
            return self
        
    def __div__(self, other):
        if(type(self) == type(other)):
            raise ValueError("Don't understand div operation for vectors!")
        else:
            result = list(item / other for item in self)
            return self
        
    def __getitem__(self, key):
        return self.components[key]
    
    def __len__(self):
        return len(self.components)
    
    def push_back(self, value):
        self.components.append(value)
        return self
    
    def pop_back(self):
        self.components.pop()
        return self
    
    def insert(self, index, value):
        self.components.insert(index, value)
        return self
    
    def matrix_mult(self, matrix):
        if (len(matrix) != len(self)):
            raise ValueError("Can't multiply such vector and matrix")
        else:
            result = list(Vector(*row) * self for row in matrix)
            return Vector(*result)

In [22]:
import pandas as pd
mat = [[1,2,3],[5,9,-3],[2,9,-4]]
a = pd.DataFrame(mat)
a

   0  1  2
0  1  2  3
1  5  9 -3
2  2  9 -4

#### Table (0.5 баллов)

Реализуйте класс для работы с таблицами. Класс должен обладать следующей функциональностью:

* Таблица может задаваться как двумерным списком, так и читаться из файла. Если читается из файла, то должен быть указан разделитель.

* Обладать возможностью задания названия колонок (по номеру, если не задано). Если читается из файла и задан параметр наличия именованных колонок, то первая строчка файла отвечает за названия колонок.

* Реализуйте доступ к колонкам по названю и по индекс:

<code>t = Table()

t["index"]</code>

* Реализуйте функции head и tail, которые показывают заданное число строк с начала и с конца соответственно.
* Реадизуйте методы unique и count, которые выводят все уникальные элементы для таблицы или для заданного столбца:

<code>

t["sex"].unique()

t.unique()

</code>

In [27]:
import pandas as pd

class Table():
    
    def __init__(self, data, separator=None):
        if (type(data) == list):
            self.data = pd.DataFrame(data)
        else:
            temp_data = pd.read_csv(data, sep=separator)
            self.data = pd.DataFrame(temp_data)
            
    def __getitem__(self, key):
        return self.data[key] 
        
    def head(self, num):
        return self.data.head(n=num)
    
    def tail(self, num):
        return self.data.tail(n=num)
    
    def count(self):
        return self.data.count()
    
    def unique(self):
        return self.data.drop_duplicates(keep=False)
    
t = Table('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', ' ')
t.head(10)

,"39,","State-gov,","77516,","Bachelors,","13,","Never-married,","Adm-clerical,","Not-in-family,","White,","Male,","2174,","0,","40,","United-States,",<=50K
0,"50,","Self-emp-not-inc,","83311,","Bachelors,","13,","Married-civ-spouse,","Exec-managerial,","Husband,","White,","Male,","0,","0,","13,","United-States,",<=50K
1,"38,","Private,","215646,","HS-grad,","9,","Divorced,","Handlers-cleaners,","Not-in-family,","White,","Male,","0,","0,","40,","United-States,",<=50K
2,"53,","Private,","234721,","11th,","7,","Married-civ-spouse,","Handlers-cleaners,","Husband,","Black,","Male,","0,","0,","40,","United-States,",<=50K
3,"28,","Private,","338409,","Bachelors,","13,","Married-civ-spouse,","Prof-specialty,","Wife,","Black,","Female,","0,","0,","40,","Cuba,",<=50K
4,"37,","Private,","284582,","Masters,","14,","Married-civ-spouse,","Exec-managerial,","Wife,","White,","Female,","0,","0,","40,","United-States,",<=50K
5,"49,","Private,","160187,","9th,","5,","Married-spouse-absent,","Other-service,","Not-in-family,","Black,","Female,","0,","0,","16,","Jamaica,",<=50K
6,"52,","Self-emp-not-inc,","209642,","HS-grad,","9,","Married-civ-spouse,","Exec-managerial,","Husband,","White,","Male,","0,","0,","45,","United-States,",>50K
7,"31,","Private,","45781,","Masters,","14,","Never-married,","Prof-specialty,","Not-in-family,","White,","Female,","14084,","0,","50,","United-States,",>50K
8,"42,","Private,","159449,","Bachelors,","13,","Married-civ-spouse,","Exec-managerial,","Husband,","White,","Male,","5178,","0,","40,","United-States,",>50K
9,"37,","Private,","280464,","Some-college,","10,","Married-civ-spouse,","Exec-managerial,","Husband,","Black,","Male,","0,","0,","80,","United-States,",>50K